<h2>1. Анекдот времен арабо-израильской войны.</h2>
Отступают арабы.<br>
Один из них яро отстреливается и тут видит что мчится на него танк.<br>
Ну, он от него убегать, а как отбежит, открывает очередь.<br>
Еврейский танк не думает сбавлять ход и случается так, что загоняет он араба в угол.<br>
Араб выпускает последние патроны...<br>
И тут танк останавливается, открывается люк, оттуда вылезает еврей:<br><br>
-"Что, патроны таки кончились?" и сам достаёт что-то.<br>
-"Могу ящичек продать!"<br>

<h2>2. Как задолжал Ельцин?</h2>
Сидит Ельцин в пиджаке, в штанах, закатанных по колено, ловит рыбу. И тут к нему подбегает Коржаков:<br>
-"Срочно вызывают во Францию, надо отчитываться по долгам, срочно!"<br>
Ну, а куда же на рыбалке без выпивки. <br>
Конечно Ельцина, абсолютно пьяного, садят в специальный самолёт.
<br>Прилетели. Выходит из самолёта, а ему Коржаков шепчет:<br><br>
-"Спустите хоть штаны, на нас смотрят"<br><br>
Ну а Ельцин, ещё не отошедший от водки:<br><br>
-"Ни*** себе мы задолжали то..."<br><br>

<h2>3. Бензиновая зажигалка</h2>
Зима.<br>
Подходит один мужик на улице к другому:<br><br>

-"Огоньку не найдётся?"<br><br>

А у первого бензиновая зажигалка, как оказалось, потекла в кармане.<br>
Ну, вынул, чиркнул, вся рука тут же в пламени.<br>
А второй прикурил от руки и говорит смеясь:<br><br>

-"Ну ты *** фокусник"

<div style="margin-top: 5%">
    <img src="./../../../assets/photos/Гоблин.png" alt="Куда без гоблина???">
</div>
